<h1>Artist Albums</h1>

<div>
    <% albums.forEach(album => { %>
     <h3><%= album.name %> </h3>
     <img src="<%= album.images[2].url %> " alt="Album Images" width="<%= album.images[2].width %> " height="<%= album.images[2].height %>">
     <a href="/tracks/<%= album.id%> "><button>View Tracks</button></a>
    <% }) %>
</div>